.navigationDrawer {
  @apply pointer-events-none invisible absolute -left-full top-0 mx-auto h-full w-full overflow-hidden opacity-0 shadow-sm lg:max-w-lg;
  z-index: 51;
  height: 100vh;
  max-width: 90vw;
  transition: 300ms all ease-in-out;
}

.navigationDrawer.active {
  @apply pointer-events-auto visible left-0 opacity-100;
}

.navigationDrawer.active .navigationDrawer-menu {
  opacity: 1;
  transform: translateY(0) scaleY(1);
}

.navigationDrawer-menu {
  @apply h-screen w-full overflow-y-auto;
  opacity: 0;
  transition-delay: 250ms;
  transition-duration: 800ms;
  transform: translateY(60px) scaleY(1.2);
  transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
}

.navigationDrawer-menu-item {
  @apply flex w-full flex-wrap border-b border-night-border p-4 text-sm font-normal;
}

.navigationDrawer-menu-item:last-child {
  @apply mb-10 border-0;
}

.navigationDrawer-menu-item li {
  @apply flex w-full;
}
