.toggle {
  width: 35px;
  height: 23px;
  @apply relative;
}

.toggle label input[type='checkbox'] {
  @apply hidden;
}

.toggle label input[type='checkbox'] + span {
  right: 0;
  top: 5px;
  width: 35px;
  height: 14px;
  border-radius: 34px;
  @apply absolute inline-block bg-grey-2;
}

.toggle label input[type='checkbox'] + span::before {
  content: '';
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: -2px;
  transition: 0.4s;
  border-radius: 50%;
  z-index: 1;
  @apply absolute border border-grey-2 bg-white;
}

.toggle label input[type='checkbox']:disabled + span::before {
  @apply border border-grey-4 bg-grey-4;
}

.toggle label input[type='checkbox']:checked + span {
  @apply bg-blue/70 dark:bg-blue-night/70;
}

.toggle label input[type='checkbox']:checked + span::before {
  transform: translateX(18px);
  @apply border-blue bg-blue dark:border-blue-night dark:bg-blue-night;
}

.toggle label:hover {
  @apply cursor-pointer;
}

.toggle label:hover input[type='checkbox'] + i::before {
  font-weight: 900;
}

.toggle span {
  @apply select-none;
}

.toggle svg {
  animation: spinning 1s infinite linear;
  @apply absolute top-1/2 h-4 w-4;
}

.toggle svg.left {
  @apply left-0;
}

.toggle svg.right {
  @apply right-0;
}

@keyframes spinning {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(359deg);
  }
}
